<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
{% if page.cam %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script> 
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.js"></script>
{% endif %}

{% if page.lense %}
<script src="https://aframe.io/releases/0.9.1/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.7.1/aframe/build/aframe-ar.js"></script>
<script src="https://unpkg.com/aframe-environment-component@1.1.0/dist/aframe-environment-component.min.js"></script>
<script src="https://rawgit.com/protyze/aframe-curve-component/master/dist/aframe-curve-component.min.js"></script>
<script src="https://rawgit.com/protyze/aframe-alongpath-component/master/dist/aframe-alongpath-component.min.js"></script>
<script src="/assets/js/lense.js"></script>
{% endif %}

{% if page.gcharts %}
<script type=module src="https://unpkg.com/@google-web-components/google-chart@3.0.0/google-chart.js?module"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endif %}