<div class="rsvp-forms-container">
  <form
    accept-charset="UTF-8"
    action="/thankyou"
    method="POST"
    enctype="multipart/form-data"
    target="_blank"
    name="rsvp-bhoj-01"
    data-netlify="true"
  >
    <div class="form-group">
      <label for="in-email" required="required">Email address</label>
      <input
        type="email"
        name="email"
        class="form-control"
        id="in-email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    
    <div class="form-group">
      <label for="in-fav-game">Favourite Sport</label>
      <select
        class="form-control select-with-option"
        id="in-fav-game"
        name="fav-game"
        required="required"
      >
        <option>Cricket</option>
        <option>Foodball</option>
        <option>Volleyball</option>
        <option>Skateboarding</option>
        <option>Frisbie</option>
        <option>పిచ్చి బంతి</option>

      </select>
    </div>
    
    <hr />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
