
<div class="reg-form-container">
    <div class="inner-container">
        
        
        <div class="reg-form-message">
            If you have fans and want to join Vidiyo as talent, you can enroll here and we'll be in touch.
        </div>
        <div class="reg-form-form">
            <div class="form-intro">
                Fill out the form here
            </div>
            <div class="form-profile-image">
                <img src="/assets/images/form-profile-upload.svg" alt="">
            </div>
            <div class="form-profile-image-lable">
                Profile Picture
            </div>
            <div class="form-general">
                <div class="general-each first-name">


                </div>
                <div class="general-each last-name">
        
        
                </div>
                <div class="general-each email">
        
        
                </div>
                <div class="general-each contact">
        
                </div>
            </div>
            <div class="form-social">
                <div class="insta">


                </div>
                <div class="ticktok">


                </div>
                <div class="youtube">


                </div>
                <div class="twitter">

                </div>
            </div>
            <div class="form-tnc">

            </div>
            <div class="form-tnc-check">
                
            </div>
            <div class="form-submit-btn">
                Register    
            </div>  
        </div>
    </div>
</div>

