<div class="labs-container">
    <div class="labs-header section-header">
        <h2>Cooking in labs</h2>
        <p>Some of our internal projects.</p>
    </div>
    <div class="labs-content">
        {% for beta in site.labs | where:"published",false %}
        <div class="each-beta-item">

            <div class="item-header">

                <h3>{{beta.title}}</h3>
                <div class="item-info">
                </div>
                <paper-audio-player src="{{beta.before.src}}" title="{{beta.before.title}}" color="#F05C38" preload="none"></paper-audio-player>
                <paper-audio-player src="{{beta.after.src}}" title="{{beta.after.title}}" color="#0FA3C7" preload="none"></paper-audio-player>

            </div>

        </div>
        {% endfor %}
    </div>
    <div class="more-container">
      <a href="/samples/">More Samples</a>
    </div>

</div>