<div class="nextlive">
    <div class="isTimeLeft" id="isTimeLeft">
        <h1>Next Live session on 5<sup>th</sup> Of April</h1>
 
        <div id="countdown"></div>
    </div>
    <div class="isLive" id="isLive">
        <h1>We are <sup>Live</sup> right now</h1>
        <div id="countdown">
            <a href="{{site.instagram_live_link}}">
            <div class="instagram-link live-link" >
                <img src="/assets/images/instagram-live.png" alt="">
            </div>
        </a>
        <a href="{{site.twitch_live_link}}">

            <div class="twitch-link live-link" >
                <img src="/assets/images/twitch-live.png" alt="">
            </div>
        </a>

        </div>
    </div>
    
</div>