<div class="partners-container">
    <div class="partners-header section-header">
        <h2>Partners</h2>
        <p>Featured partners</p>
    </div>
    <div class="partners-content">
        {% for post in site.partners limit:4 %}
            {% if post.id == page.id %}
                {% continue %}
            {% endif %}
            {% include archive-single.html type="grid" %}
        {% endfor %}
    </div>

    <!-- <div class="partners-more">
        <a href="./partners.html" class="internal-ling">More..</a>
    </div> -->
    <div style="clear: both"></div>
</div>