<div class="product-type-container">
    <div class="product-type-header section-header">
        <h2>product-type</h2>
        <p>Featured Merchendise</p>
    </div>
    <div class="product-type-content">
        {% for post in site.product_types limit:4 %}
            {% if post.id == page.id %}
                {% continue %}
            {% endif %}
            {% include archive-single.html type="grid" %}
        {% endfor %}
    </div>

    <!-- <div class="product-type-more">
        <a href="./product-type.html" class="internal-ling">More..</a>
    </div> -->
    <div style="clear: both"></div>

</div>