<div class="recent-container">
    <div class="recent-header section-header">
        <h2>Recent Shout-out</h2>
        <p>Checkout these latest shoutouts on Vidiyo</p>
    </div>
    <div class="recent-content">
        {% for beta in site.vidiyos %}
        <div class="each-beta-item">
            <div class="phone">
                <video class="video-autoplay-pusher" src="{{beta.vid_url}}" autoplay loop muted></video>
            </div>
            <div class="item-header">
                {{beta.title}}
            </div>
           
        </div>
        {% endfor %}
    </div>

    <!-- <div class="what-all-btn">
        Watch all
    </div> -->

</div>