<div class="trust-bar" aria-label="At a glance">
    <div class="trust-bar__inner">
        <span class="trust-bar__item">
            {% include icon.html id="compass" size="16" %}
            Vastu &amp; Biophilic Design
        </span>
        <span class="trust-bar__sep" aria-hidden="true"></span>
        <span class="trust-bar__item">
            {% include icon.html id="leaf" size="16" %}
            Naturopathy &amp; Wellness
        </span>
        <span class="trust-bar__sep" aria-hidden="true"></span>
        <span class="trust-bar__item">
            {% include icon.html id="location" size="16" %}
            Noida, Delhi NCR &amp; Remote
        </span>
        <span class="trust-bar__sep" aria-hidden="true"></span>
        <span class="trust-bar__item">
            {% include icon.html id="sun" size="16" %}
            Ancient Wisdom, Modern Living
        </span>
    </div>
</div>
