<div class="what-container">
    <div class="what-header section-header">
        <h2>Ashwatthamians Gaming Network</h2>
        <p>We are a team consist bunch of creative homo sapiens from different verticals coupled with one vision - `eSports`.</p>
    </div>
    <div class="what-content">
        <div class="part-1">- Creation and curation of gaming content</div>
        <div class="part-2">- Data for visualising gaming trends</div>
        <div class="part-3">- eSports Events</div>
        <div class="part-3">- Hardware for Gamers</div>
    </div>
</div>
