<div class="what-container">
    <!-- <div class="what-header section-header">
        <h2>Empowering Connected Devices</h2>
        <p>We are a technology startup commited to building, maintaining the `Toolkit` for the `Web 3.0`.</p>
    </div> -->
    <div class="what-content">
        <div class="parts part-1">
            <div class="header">
                Select A Celebrity
            </div>
            <div class="content">
                Pick a Celebrity from our ever-growing list and begin. You can do this by searching for them or browsing our alphabetical directory. Don’t worry; if your favourite celebrity is not on our site, you can help! Just tweet at them with the hashtag #Vidiyo or @Vidiyo and let them know you wish for them to join!
            </div>
            <div class="underlay">1</div>
        </div>
        <div class="parts part-2">
            <div class="header">
                Request Shoutout Vidiyo!
            </div>
            <div class="content">
                In 300 characters or less, you get to write a customized script for the celebrity to read. Example: “Happy Birthday Rahul, your friends Akshay, Kyle and I wanted to wish you a very blessed birthday.” What if you have a question for the celebrity instead? No problem! Select a question and use your 300 characters to ask one!
            </div>
            <div class="underlay">2</div>
        </div>
        <div class="parts part-3">
            <div class="header">
                Delivery and Share
            </div>
            <div class="content">
                Sit back and wait for your Vidiyo to arrive. Please be calm as celebrities are very busy. Once complete you will receive your custom video in your DM. After that, you can share however you like. Vidiyo make great gifts for all occasions so be creative and enjoy!
            </div>
            <div class="underlay">3</div>
        </div>
        
    </div>
</div>
