---
layout: archive
---
<div class="contact-container">
  <div>
    <form action="">
      <label for="name">Name</label>
      <input type="text" id="name">

      <label for="phone">Phone</label>
      <input type="text" id="phone">

      <label for="email">Email</label>
      <input type="email" id="email">


      <label>Choose your Sevices</label>
      <div class="service-select">
        <div class="each-service">
          <label for="Mixing">Mixing</label>
          <input type="checkbox" name="Mixing" id="Mixing">
        </div>

        <div class="each-service">
          <label for="Mastering">Mastering</label>
          <input type="checkbox" name="Mastering" id="Mastering">
        </div>

        <div class="each-service">
          <label for="Production">Production</label>
          <input type="checkbox" name="Production" id="Production">
        </div>

      </div>




      <label for="demo">Submit your Demo</label>
      <input type="file" id="demo">

      <button>Submit</button>
    </form>
  </div>
</div>