---
layout: archive
---
<div class="contact-container">
  <div>
    <h2>Submit your Demo</h2>
    <form  name="demo" method="POST" data-netlify="true">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="phone">Phone</label>
      <input type="text" id="phone">

      <label for="email">Email</label>
      <input type="email" id="email" name="email">


      <label>Choose your Sevices</label>
      <div class="service-select">
        <div class="each-service">
          <label for="Mixing">Mixing</label>
          <input type="checkbox" name="Mixing" id="Mixing">
        </div>

        <div class="each-service">
          <label for="Mastering">Mastering</label>
          <input type="checkbox" name="Mastering" id="Mastering">
        </div>

        <div class="each-service">
          <label for="Production">Production</label>
          <input type="checkbox" name="Production" id="Production">
        </div>

      </div>




      <label for="demo">Submit your Demo</label>
      <input type="file" id="demo" name="demo">

      <button type="submit">Submit Demo</button>
    </form>

    <h2>Queries</h2>
    <form  name="contact" method="POST" data-netlify="true">
      <label for="name">Name</label>
      <input type="text" id="name" name="name">

      <label for="phone">Phone</label>
      <input type="text" id="phone" name="phone">

      <label for="email">Email</label>
      <input type="email" id="email" name="email">

      <label for="comment">Comment</label>
      <textarea id="comment" name="comment" rows="5"></textarea>




      <button type="submit">Submit</button>
    </form>



  </div>
</div>
