---
layout: default
---

<div class="section full-screen background-image-side hero">
  <div class="wrapper">
    <div class="row">
      <div class="col">
        <div class="hero-content">
          <h1 class="hero-title">Engagement for Digital Age </h1>
          <p class="hero-description">We provide services for events for Social Engagement, Brand Activation &amp; Memorable Customer experience</p>
          <div class="value-proposition-buttons"><a href="https://calendly.com/akriya/engagement-experience-booking" class="button margin-right w-button">Book now</a><a href="https://calendly.com/akriya/engagement-experience-booking" class="button ghost w-button">learn more</a></div>
        </div>
        <img src="/assets/images/home/all.png" alt="" class="hero-image"></div>
    </div>
  </div>
</div>
<div class="section no-bottom-padding">
  <div class="wrapper">
    <div class="row centre-align">
      <div class="col-2 lg-8 md-4 centre-align">
        <div class="centre-align margin-bottom">
          <h3 class="section-title">Key to success is having a Simple Interface and Deep digital engagement mechanism</h3>
          <p class="sub-title margin-bottom margin-top">We love our platfroms: Twitter & Instagram, where we are able to achieve Low Impression Cost and Motivate your customer</p>
        </div>
        <div class="row centre-align">
          <div class="col-2 lg-8"></div>
        </div>
      </div>
    </div>
    <div class="step-container">
      <div class="row margin-bottom sm-reverse-layout">
        <div class="col-2 lg-1 hidden-lg-down"></div>
        <div class="col-2 lg-4 sm-2 lg-vertical-align">
          <div class="sm-align-centre">
            <h3 class="h3">Social Wall</h3>
            <p class="paragraph-small">Embed Twitter, Instagram and Facebook posts on any screentype of your choice. Build using a vector based responsive UI toolkit, to display and engage in Realtime to audience.</p>
          </div>
        </div>
        <div class="col-2 lg-1 hidden-lg-down"></div>
        <div class="col-2 lg-5"><img src="/assets/images/home/tech01.png" width="571"  alt="" class="value-proposition-hero-image"></div>
        <div class="col-2 lg-1 hidden-lg-down"></div>
      </div>
    </div>
    <div class="step-container">
      <div class="row">
        <div class="col-2 lg-1 hidden-lg-down"></div>
        <div class="col-2 lg-5"><img src="/assets/images/home/vr.png" alt="" class="image-4"></div>
        <div class="col-2 lg-1 hidden-lg-down"></div>
        <div class="col-2 lg-4 sm-2 lg-vertical-align">
          <div class="sm-align-centre">
            <a href="https://akriya.co.in/wendor-events/">  <h3 class="h3">InstaWend</h3> </a>
            <p class="paragraph-small">Provide Instant Gratification for using your Instagram Hastag! Using Wending machines provide Automatic Fullfilment!</p>
          </div>
        </div>
        <div class="col-2 lg-1 hidden-lg-down"></div>
      </div>
    </div>
    <div class="step-container low-z-index">
      <div class="row margin-bottom sm-reverse-layout">
        <div class="col-2 lg-1 hidden-lg-down"></div>
        <div class="col-2 lg-4 sm-2 lg-vertical-align">
          <div class="sm-align-centre">
            <h3 class="h3">InstaPrint</h3>
            <p class="paragraph-small">“Taking an image, freezing a moment, reveals how rich reality truly is.”.</p>
          </div>
        </div>
        <div class="col-2 lg-1 hidden-lg-down"></div>
        <div class="col-2 lg-5"><img src="/assets/images/home/21.png" width="571" alt="" class="value-proposition-hero-image"></div>
        <div class="col-2 lg-1 hidden-lg-down"></div>
      </div>
    </div>


  </div><img src="/assets/images_theme/dashed-path.png" width="900" srcset="/assets/images_theme/dashed-path-p-500.png 500w, /assets/images_theme/dashed-path-p-800.png 800w, /assets/images_theme/dashed-path-p-1080.png 1080w, /assets/images_theme/dashed-path-p-1600.png 1600w, /assets/images_theme/dashed-path.png 1714w" sizes="(max-width: 991px) 100vw, 900px" alt="" class="dashed-line"></div>

<div class="section services bgaccent-color">
  <div class="w-layout-grid grid">
    <div id="w-node-a90a4bea48e4-1508a948" class="div-block-10 margin-bottom">
      <p class="micro-heading">DRIVEN BY DATA. FUELED BY PASSION.</p>
      <h3 class="section-heading left-aligned no-margin-top">Personalized Services</h3>
      <h3 class="section-title fullwidth-grid margin-bottom">Customized for each event, as we have discovered, greater the Personal touch, the more the engagement. For a holistic imporvement across the board.</h3><a href="https://calendly.com/akriya/engagement-experience-booking" class="button margin-left w-button">Plan one now!</a></div>
    <div id="w-node-6ad91524b8c2-1508a948" class="margin-bottom"><img src="/assets/images_theme/poster.svg" width="64" alt="" class="small-margin-bottom">
      <h4>Branding</h4>
      <p class="paragraph-small short-paragraph">A brand is so much more than a logo or a color. It’s how people feel and perceive your business, its products, and services. We aim to create brands that leave impressions that last for a lifetime.</p>
    </div>
    <div id="w-node-f3c27ee0b5e0-1508a948" class="margin-bottom"><img src="/assets/images_theme/idea.svg" width="64" alt="" class="small-margin-bottom">
      <h4>Digital Marketing Strategy</h4>
      <p class="paragraph-small short-paragraph">When it comes to marketing your brand or business we always make sure to look before we take off. We are working together with you to design and execute innovative, data-driven cross-channel strategies that win real results.</p>
    </div>
    <div class="margin-bottom"><img src="/assets/images_theme/basket0.5x.png" width="64" alt="" class="small-margin-bottom">
      <h4>On-Ground Activation</h4>
      <p class="paragraph-small short-paragraph">Creating experiences is a unique way to create a lasting attachment with the customer. Which generates word of mouth, and cultivates a lot of buzz around the products. Establishing a two-way interaction platorm, all so potent, is always ticky to pull off 😉</p>
    </div>
    <div class="margin-bottom"><img src="/assets/images_theme/social-media.svg" width="64" alt="" class="small-margin-bottom">
      <h4>Social Media Campaign</h4>
      <p class="paragraph-small short-paragraph">Social media give each us the power to converse, share and connect with each other. Knowing what your audience talk about and why allow you to reach strategically insights and help you to gain new leads.</p>
    </div>
    <div id="w-node-1baae99ab2f1-1508a948" class="margin-bottom"><img src="/assets/images_theme/megaphone.svg" width="64" alt="" class="small-margin-bottom">
      <h4>Content Marketing</h4>
      <p class="paragraph-small short-paragraph">Content marketing has flat-out become a fundamental part of connecting with your target audience and educating them on your offerings. To stay in touch with your audience has never been more important.</p>
    </div>
    <div id="w-node-ab1a4db733ac-1508a948" class="margin-bottom"><img src="/assets/images_theme/salesman.svg" width="64" alt="" class="small-margin-bottom">
      <h4>Public Relations</h4>
      <p class="paragraph-small short-paragraph">If you don’t take care of your partners, someone else will. We know how to assist you with your relationships, analyze and prevail, prevent or solve existing complications regardless if they are internal or external.</p>
    </div>
  </div>
</div>
<div id="clients" class="section bgaccent">
  <div class="wrapper">
    <div>
      <p class="micro-heading centre-align">our premier partners</p>
      <h3 class="section-heading align-centre short-paragraph no-margin-top">Platforms and environments we&#x27;ve worked with successfully</h3>
    </div>
  </div>
  <div class="wrapper-2 space-around">
    <!-- <div class="partner-logo-container"><img src="/assets/images_theme/artcreme.svg" width="120" alt="" class="partner-logo logo1"></div> -->
    <!-- <div class="partner-logo-container"><img src="/assets/images_theme/brian.svg" alt="" class="partner-logo logo2"></div> -->
    <div class="partner-logo-container"><img src="/assets/images/DLF-Mall-of-India.png" width="97" alt="" class="partner-logo logo3"></div>
    <div class="partner-logo-container"><img src="/assets/images_theme/kentucy.svg" alt="" class="partner-logo logo4"></div>
    <div class="partner-logo-container"><img src="/assets/images_theme/chicago.svg" alt="" class="partner-logo logo5"></div>
    <div class="partner-logo-container"><img src="/assets/images_theme/seven.svg" alt="" class="partner-logo"></div>
  </div>
</div>
<div class="section-divider"><img src="/assets/images_theme/triangle-topright.png" srcset="/assets/images_theme/triangle-topright-p-500.png 500w, /assets/images_theme/triangle-topright.png 1920w" sizes="100vw" alt="" class="bg-divider"></div>
<div class="section bgaccent-color section-triangle">
  <div class="wrapper">
    <div class="row left-aligned">
      <div class="col-2 lg-6 md-3 xs-2 left-aligned">
        <div class="contact-container">
          <div class="margin-bottom left-aligned">
            <p class="micro-heading left-aligned">lets work together</p>
            <h2 class="section-header left-aligned short-paragraph">Great vision without great people is irrelevant.<br></h2>
            <p class="short-paragraph">A new project is an opportunity to create something unique. <br></p>
          </div><a href="https://calendly.com/akriya/engagement-experience-booking" class="button w-button">Let&#x27;s Talk</a></div>
      </div>
    </div>
  </div>
  <div class="letters-container">
    <img src="/assets/images/home/A.png" width="160" sizes="(max-width: 991px) 100vw, 160px" alt="" class="contact-letters letter-a">
    <img src="/assets/images/home/T23x.png" width="160" sizes="(max-width: 991px) 100vw, 160px" alt="" class="contact-letters letter-t2">
    <img src="/assets/images/home/C3x.png" width="130" sizes="(max-width: 991px) 100vw, 130px" alt="" class="contact-letters letter-c2">
    <img src="/assets/images/home/A.png" width="160" sizes="(max-width: 991px) 100vw, 160px" alt="" class="contact-letters letter-a">
    <img src="/assets/images/home/T.png" width="170" sizes="(max-width: 991px) 100vw, 170px" alt="" class="contact-letters letter-t">
    <img src="/assets/images/home/N2.png" width="130" sizes="(max-width: 991px) 100vw, 130px" alt="" class="contact-letters letter-n">
    <img src="/assets/images/home/O.png" width="120" alt="" class="contact-letters letter-o">
    <img src="/assets/images/home/C2.png" width="150" sizes="(max-width: 991px) 100vw, 150px" alt="" class="contact-letters letter-c"></div>
</div>
