---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div class="section-2 page-header">
  <div class="wrapper-3">
    <div class="row-2">
      <div class="col-2 lg-6 md-4">
        <h1 class="no-margin">{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="section bg-article-1"></div>
<div class="section-2">
  <div class="wrapper">
    <div class="row-2 centre-align">
      <div class="col-2 lg-6 md-3 sm-2">
        <div class="rich-text-block w-richtext">
          {{content}}
        </div>

      </div>
    </div>
  </div>
  <div class="wrapper margin-top">
    <h2 class="wrapper related-title">Related content</h2>
    <div class="row-2 no-bottom-margins">
      <div class="col-2 lg-6">
        <div class="big-blog-thumbnail-container"><a href="#" class="works-link w-inline-block"><img src="images/Screen-Shot-2019-05-24-at-14.20.59.JPG" width="616" srcset="images/Screen-Shot-2019-05-24-at-14.20.59-p-500.jpeg 500w, images/Screen-Shot-2019-05-24-at-14.20.59.JPG 631w" sizes="(max-width: 479px) 87vw, (max-width: 767px) 90vw, 45vw" alt="" class="column-image"><div class="centre-align"><h4 class="no-bottom-margins-2">Is Our Desire For Safety Causing Us Harm?</h4><p class="low-opacity">Self improvement</p></div></a></div>
      </div>
      <div class="col-2 lg-6">
        <div class="big-blog-thumbnail-container"><a href="#" class="works-link w-inline-block"><img src="images/sruvs.jpeg" width="616" alt="" class="column-image"><div class="centre-align"><h4 class="no-bottom-margins-2">Defining a Modular Type Scale for Web UI</h4><p class="low-opacity">User Interface</p></div></a></div>
      </div>
    </div>
  </div>
</div>